<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Campus Interactive Map</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="campus">
    <!-- 배경 -->
    <img src="img/vr_map_v3.jpg" class="bg" alt="캠퍼스 배경">

    <!-- 뒤로가기 버튼 -->
    <button id="home-btn">← 뒤로가기</button>

    <!-- 누끼 건물 이미지들 -->
    <img src="img/auditorium.png" id="building1" class="building" alt="대강당">
    <img src="img/bawool.png" id="building2" class="building" alt="바울관">
    <img src="img/computer.png" id="building3" class="building" alt="제1실습관">
    <img src="img/daniel.png" id="building4" class="building" alt="다니엘관">
    <img src="img/lib.png" id="building5" class="building" alt="도서관">
    <img src="img/국제교육관.png" id="building6" class="building" alt="국제교육관">
    <img src="img/디자인관.png" id="building7" class="building" alt="디자인관">
    <img src="img/사무엘관.png" id="building8" class="building" alt="사무엘관">
    <img src="img/신학관.png" id="building9" class="building" alt="신학관">
    <img src="img/아트관.png" id="building10" class="building" alt="아트관">
    <img src="img/음악관.png" id="building11" class="building" alt="음악관">
    <img src="img/제2과학관.png" id="building12" class="building" alt="제2과학관">
    <img src="img/제3과학관.png" id="building13" class="building" alt="제3과학관">
    <img src="img/체육관.png" id="building14" class="building" alt="체육관">
    <img src="img/에스라관.png" id="building15" class="building" alt="에스라관">
  </div>
  <div id="tooltip" class="tooltip"></div>
  <script src="index.js"></script>
</body>
</html>
